<nav class="navlink">
    <button class="btn btn-primary ml-2" routerLink="/register">Register</button>
    <button class="btn btn-primary mr-2 ml-2" routerLink="/login">logIn</button>

</nav>
<!-- <nav class="navbar navbar-expand-sm navbar-light "style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <ng-container authenticate ></ng-container>
    </div>
  </nav>
  <ng-template #notAuthenticate>
        <a class="nav-link active"  routerLink="/register">Register</a>
  </ng-template>
  <ng-template #authenticate>
     <li class="nav-item"> 
        <a class="nav-link" routerLink="/login">LogIn</a>
       </li> 
  </ng-template> -->